* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);    
}

label {
    font-family: 'Open Sans', sans-serif;
}

/* Modal ou Form */

.modal {
    background-color: #fff;
    position: relative;
    left: 32%;
    right: 35%;
    padding: 5vh;
    padding: 5vw;
    width: 37%;
    box-shadow: 0 0 5px 0 #e2e2e2;
    border-radius: 10px;
    margin-top: 3%;
}

/* Título */

.modal .registro h1 {
    margin-bottom: 1vh;
}

/* Nome e Preço */

.modal .pedaco {
    margin-bottom: 1vh;
}

.modal .pedaco label {
    color: #2e2e2e;
    font-size: 20px;
}

.modal .pedaco .input {
    border: none;
    border-bottom: 1px solid black;
    width: 17vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1%;
}

.modal .pedaco .input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

/* Text Area */

.modal .caixa-de-texto {
    margin-bottom: 1vh;
}

.modal .caixa-de-texto label {
    color: #2e2e2e;
    font-size: 20px;
}

.modal .caixa-de-texto .text-area {
    width: 17vw;
    margin-top: 1vh;
    height: 15vh;
    padding: 2%;
    margin-bottom: 1vh;
}

/* Imagem */

.modal .image {
    margin-bottom: 1vh;
}

.modal .image label {
    color: #2e2e2e;
    font-size: 20px;
}

.modal .image .imagem {
    width: 17vw;
}

/* Botão */

.modal .botao {
    margin: 5vh 0;
}

.modal .botao .botao-configurado {
    padding: 2%;
    width: 5vw;
    background-color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

.modal .botao .botao-configurado:hover {
    background-color: #2e2e2e;
    border: solid 1px #fff;
    border-radius: 5%;
    color: #fff;
    transition: all 0.5s;
    cursor: pointer;
}

/* Voltar */

.modal .voltar {
    color: #2e2e2e;
    text-decoration: none;
}

.modal .voltar:hover {
    text-decoration: underline;
}


/* Footer */

footer {
    background-color: #3498db;
    margin-top: 3%;
    padding: 2% 1%;
}

footer .copy {
    text-align: center;
    color: #e2e2e2;
}